<html ng-app="baccarat">
  <head>
    <title>Basic Baccarat</title>
    <link href="app.css" rel="stylesheet" type="text/css" media="screen">
  </head>
  <body ng-controller="mainController">
    <h1>Baccarat</h1>

    <div class="table">
      <!-- This is where the game will be played -->

      <button class="hit-button" ng-click="playerHit()">Hit</button>
      <button class="stand-button" ng-click="">Stand</button>
      <button class="shuffle-button" ng-click="shuffle();">Shuffle</button>

      <div class="player-hand-container">
        <div class="hand">

          <h2>You (
            <span class="score">21</span>)</h2>
          <div ng-repeat="items in playerHand">{{ items.rankString}} of {{ items.suitString }}</div>
        </div>
      </div>

      <div class="dealer-hand-container">
        <div class="hand">

          <h2>Dealer (
            <span class="score">9</span>)</h2>
          <div ng-repeat="items in dealerHand">{{ items.rankString}} of {{ items.suitString }}</div>
        </div>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
    <script src="libs/playingCards.js"></script>
    <script src="main.js"></script>
    <script src="angular.js"></script>
  </body>
</html>
