<html ng-app="baccarat">
  <head>
    <title>Basic Baccarat</title>
    <link href="app.css" rel="stylesheet" type="text/css" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-controller="mainController">
    <div class="container-fluid">
      <h1>Baccarat</h1>
      <div class="table">{{ user.google.name }}
        <!-- This is where the game will be played -->
        <div class="actions">
          <h4>{{remaining}}
            Cards Remaining in the Deck</h4>
          <button class="btn btn-primary" ng-click="shuffle();">Shuffle</button>
        </div>
        <div class="hand-container">
          <div class="hand">
            <h3>Banker</h3>
            <!-- <p>({{ score(bankerHand) }})</p> -->
            <div ng-repeat="items in bankerHand">
              <div class="card">
                <img src="img/cards/{{ items.rankString }}-{{ items.suitString }}.png">
              </div>
            </div>
          </div>
        </div>
        <div class="hand-container">
          <div class="hand">
            <h3>Player</h3>
            <!-- <p>({{ score(playerHand) }})</p> -->
            <div ng-repeat="items in playerHand">
              <div class="card">
                <img src="img/cards/{{ items.rankString }}-{{ items.suitString }}.png">
              </div>
            </div>
          </div>
        </div>
        <h2>{{ annoucement }}</h2>
        <div class="actions">
          <h3>Current Wager is
            {{ wager | currency:usd$:0  }}<br/>Current line of credit is
            {{ balance | currency:usd$:0 }}</h3>
          <button class="btn btn-primary" ng-click="deal();" ng-disabled="wager == 0">Deal</button>
          <button class="btn btn-primary" ng-click="playerHit()" ng-disabled="score(playerHand) > 5 || (score(playerHand) == 0 && playerHand.length == 0)">Hit
          </button>
          <button class="btn btn-info" ng-click="increase()" ng-disabled="playerHand.length > 0">Increase Wager
          </button>
          <button class="btn btn-info" ng-click="decrease()" ng-disabled="playerHand.length > 0">Decrease Wager
          </button>
        </div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="libs/playingCards.js"></script>
    <script src="controller.js"></script>
    <script src="factory.js"></script>
    <script>
      var cardDeck = new playingCards();
    </script>
  </body>
</html>
